SITE_NAME=Sherpa
SITE_URL=http://localhost

ENCRYPT_KEY=
ENCRYPT_CIPHER=AES-256-CBC

MODE=dev

CSRF_TOKEN=true

DB_DBMS=mysql
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_CHARSET=utf8
DB_AUTOCOMMIT=true

BCRYPT_COST_FACTOR=10